.bb {
    background-color: lightpink;
color: black;
padding: 10px 20px;
border: none;
text-decoration: none;
cursor: pointer;
display: flex;
justify-content: center;
bottom: 0;
left: 0;
height: 40px;
font-size: 30;
width: 140px;
margin: 0 auto;
border-radius: 25px;
}
.gr {
    background-color: purple;
color: black;
padding: 10px 20px;
border: none;
text-decoration: none;
cursor: pointer;
display: flex;
justify-content: center;
bottom: 0;
left: 0;
height: 40px;
font-size: 30;
width: 140px;
margin: 0 auto;
border-radius: 25px;
}
h1 {
    background-image: linear-gradient(to bottom, #247ba0, #ff008c); 
-webkit-background-clip: text;
background-clip: text;
color: transparent;
font-size: 100px;
text-align: center;

}

p {
    color: white;
    text-align: center;
    font-size: 40px;
}
body {
background-color: black;
}