body {
  background-color: #313244;
  font-family: "Inter", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  padding: 0 24px;
  height: 54px;
  width: 938px;
  border: none;
  margin-top: 10px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.logo img {
  height: 34px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.logo img:hover {
  background-color: #8c8fa1;
  transform: scale(0.9);
  border-radius: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #cdd6f4;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.nav-links a img {
  margin-right: 8px;
}

.nav-links a:hover {
  background-color: #8c8fa1;
  border-radius: 10px;
  transform: scale(0.9);
}

.background {
  margin-bottom: 30px;
  width: 300px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-left: 20px;
}

h1 {
  color: #ffffff;
  margin-bottom: 10px;
}

p {
  color: #ffffff;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: green;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

body {
  background: rgba(0, 0, 0, 0.3);
  cursor: none;
}

.rounded {
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.pointed {
  width: 7px;
  height: 7px;
  background-color: white;
  border-radius: 50%;
}
/* styles.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  padding: 20px;
}

#trail-container {
  position: absolute;
  pointer-events: none;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.trail {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.1s ease;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  text-shadow: 0px 0px 5px #ffffff;
}

body {
  background: rgb(27, 18, 53);
  font-family: "Rubik", sans-serif;
}
