.topnav {
  background-color: rgba(128, 128, 128, 0.3);
  overflow: hidden;
  border-radius: 60px;
  height: 7.2vh;
  width: 65vw;
  text-align: center;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: grey;
  border-width: 2px;
  border-style: solid;
}

.topnav a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

#image-container {
  display: block;
  flex-wrap: wrap;
  overflow: hidden;
}

#image-container a {
  flex: 0 0 auto;
  margin-right: 25px;
  margin-bottom: 40px;
  float: left;
}

.classy {
  border-radius: 20px;
}

p {
  margin-top: 10px;
  text-align: center;
}

body {
  background-color: black;
}

.index {
  width: 46px;
  height: 46px;
  text-align: center;
  overflow: hidden;
}
