body {
  background-color: #313244;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.game-name {
  color: #cdd6f4;
  font-family: "Inter", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #585b70;
  padding: 0 20px;
  height: 60px;
  border: none;
  margin-top: 10px;
  border-radius: 20px;
}

.logo img {
  height: 34px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.logo img:hover {
  background-color: #8c8fa1;
  transform: scale(0.9);
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #cdd6f4;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.nav-links a img {
  margin-right: 8px;
}

.nav-links a:hover {
  background-color: #8c8fa1;
  transform: scale(0.9);
}

#image-container {
  display: block;
  flex-wrap: wrap;
  overflow: hidden;
}

#image-container a {
  flex: 0 0 auto;
  margin-right: 25px;
  margin-bottom: 40px;
  float: left;
}
#image-container a:hover {
  transform: scale(0.9);
}
.classy {
  border-radius: 20px;
}

p {
  margin-top: 10px;
  text-align: center;
}
#search-input {
  width: 550px;
  height: 58px;
  padding-left: 36px;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNjZGQ2ZjQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1zZWFyY2giPjxjaXJjbGUgY3g9IjExIiBjeT0iMTEiIHI9IjgiLz48cGF0aCBkPSJtMjEgMjEtNC4zLTQuMyIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 29px 29px;
  background-color: #1e2030;
  border: none;
  color: #cdd6f4;
  margin: 0 auto;
}

.index {
  width: 46px;
  height: 46px;
  text-align: center;
  overflow: hidden;
}

.search-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
