:root {
  --bg-color: #313244;
  --navbar-bg-color: #585b70;
  --link-hover-bg-color: #8c8fa1;
  --text-color: #cdd6f4;
  --input-bg-color: #1e2030;
  --input-width: 550px;
  --input-height: 58px;
  --border-radius: 20px;
  --transition-speed: 0.3s;
  --image-margin-right: 25px;
  --image-margin-bottom: 40px;
}

body {
  background-color: var(--bg-color);
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-bg-color);
  padding: 0 24px;
  height: 54px;
  width: 938px;
  border-radius: var(--border-radius);
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.logo img {
  height: 34px;
  transition:
    background-color var(--transition-speed) ease,
    transform var(--transition-speed) ease;
}

.logo img:hover {
  background-color: var(--link-hover-bg-color);
  transform: scale(0.9);
  border-radius: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition:
    background-color var(--transition-speed) ease,
    transform var(--transition-speed) ease;
}

.nav-links a img {
  margin-right: 8px;
}

.nav-links a:hover {
  background-color: var(--link-hover-bg-color);
  border-radius: 10px;
  transform: scale(0.9);
}

.game-name {
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

#image-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

#image-container a {
  flex: 0 0 auto;
  margin-right: var(--image-margin-right);
  margin-bottom: var(--image-margin-bottom);
  transition: transform var(--transition-speed) ease;
}

#image-container a:hover {
  transform: scale(0.9);
}

.classy {
  border-radius: var(--border-radius);
}

p {
  margin-top: 10px;
  text-align: center;
  color: var(--text-color);
}

#search-input {
  width: var(--input-width);
  height: var(--input-height);
  padding-left: 36px;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNjZGQ2ZjQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1zZWFyY2giPjxjaXJjbGUgY3g9IjExIiBjeT0iMTEiIHI9IjgiLz48cGF0aCBkPSJtMjEgMjEtNC4zLTQuMyIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 29px 29px;
  background-color: var(--input-bg-color);
  border: none;
  color: var(--text-color);
  margin-top: 16px;
  box-sizing: border-box;
}

.index {
  width: 46px;
  height: 46px;
  text-align: center;
  overflow: hidden;
}

.search-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
