body {
  background-color: #313244;
  font-family: "Inter", sans-serif;
 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #585b70;
  padding: 0 24px;
  height: 54px;
  width: 938px;
  border: none;
  margin-top: 10px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.logo img {
  height: 34px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.logo img:hover {
  background-color: #8c8fa1;
  transform: scale(0.9);
  border-radius: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #cdd6f4;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.nav-links a img {
  margin-right: 8px;
}

.nav-links a:hover {
  background-color: #8c8fa1;
  border-radius: 10px;
  transform: scale(0.9);
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-input {
  margin-top: 32px;
  width: 368px;
  height: 62px;
  padding-left: 36px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  text-align: center;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNjZGQ2ZjQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1zZWFyY2giPjxjaXJjbGUgY3g9IjExIiBjeT0iMTEiIHI9IjgiLz48cGF0aCBkPSJtMjEgMjEtNC4zLTQuMyIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 29px 29px;
  background-color: #585b70;
  color: #cdd6f4;
  margin-right: 20px; 
  transition: width 0.3s ease;
}

#search-input:hover,
#search-input:focus {
  width: 632px;
}


::placeholder {
  color: #cdd6f4;
  opacity: 1;
}

#search-engine {
  height: 64px;
  width: 162px;
  margin-top: 33px;
  border-radius: 16px;
  background-color: #585b70;
  color: #cdd6f4;
  font-size: 16px;
  margin-right: 15px;
  text-align: center;
  border: none;
}

.suggestion-item {
  color: #cdd6f4;
}

#suggestions-list {
  position: absolute;
  width: 440px;
  margin-left: 110px;
  background-color: #585b70;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 106px;
  padding: 0;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#suggestions-list li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#suggestions-list img {
  margin-right: 12px;
}

#suggestions-list li:hover {
  background-color: #8c8fa1;
  border-radius: 10px;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: #CDD6F4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container {
  position: fixed;
  bottom: 20px;
  text-align: center;
  background-color: #585b70;
  height: 46px;
  width: 142px;
  border-radius: 20px;
  justify-content: center;
  right: 25px;
  border: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.icon {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  border: none;
}

.icon img {
  width: 72%;
  height: 72%;
  border: none;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.icon img:hover {
  background-color: #8c8fa1;
  transform: scale(0.9);
  border-radius: 10px;
}

.tooltip {
  display: none;
  position: absolute;
  bottom: 60px;
  right: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
}

.icon:hover .tooltip {
  display: block;
}

h1 {
  color: #797593;
  text-align: center;
  font-size: 38.5px;
  margin-top: 66px;
}

p {
  color: #ffffff;
  text-align: center;
  font-size: small;
  margin-top: auto;
}

.star {
  vertical-align: top;
  position: relative;
  top: -4px;
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

h1 {
  color: #797593;
text-align: center;
  margin-left: 76px;
  text-align: center;
  font-size: 62.5px;
  margin-top: 66px;
}

.settings {
  position: fixed; 
  bottom: 10px; 
  left: 10px;
  border-radius: 100%;
  height: 36px;
  width: 36px;
  background-size: cover;
  background-position: bottom left;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNDREQ2RjQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1zZXR0aW5ncy0yIj48cGF0aCBkPSJNMjAgN2gtOSIvPjxwYXRoIGQ9Ik0xNCAxN0g1Ii8+PGNpcmNsZSBjeD0iMTciIGN5PSIxNyIgcj0iMyIvPjxjaXJjbGUgY3g9IjciIGN5PSI3IiByPSIzIi8+PC9zdmc+');
}

