html {
  background: linear-gradient(to bottom, #11111b, #585b70);
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1 {
  background-image: linear-gradient(to bottom, #f9e2af, #f5c2e7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 72px;
  text-align: center;
  margin: 0;
}

p {
  color: #99d1db;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 36px;
}
.star {
  width: 85px;
  height: 85px;
}
input {
  padding-left: 0.5em;
  margin: 140px auto 0 auto;
  display: block;
  width: 59vw;
  height: 7.3vh;
  border: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  outline: 0;
  background-image: linear-gradient(to bottom, #303446, #24273a);
  font-size: 5vh;
  color: #6c7086;
}

::placeholder {
  color: #6c7086;
}

.topnav {
  background-color: rgba(128, 128, 128, 0.1);
  overflow: hidden;
  border-radius: 60px;
  height: 7.2vh;
  width: 65vw;
  text-align: center;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: grey;
  border-width: 2px;
  border-style: solid;
}

.topnav a {
  color: #6c7086;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.topnav a:hover {
  background-color: #8c8fa1;
  transform: scale(0.9);
}

.index {
  width: 39px;
  height: 39px;
}

.vs {
  font-size: 25px;
  color: #8c8fa1;
}

#favorites-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ddd;
  font-size: 35px;
}

.favorites-text {
  background-image: linear-gradient(to right, #ffbb00, grey);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#add-favorite {
  height: 65px;
  width: 65px;
  margin-right: 25px;
}

#favorites-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.favorite-item {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f1f1f1;
  cursor: pointer;
  transition: background-color 0.3s;
}

.favorite-item:hover {
  background-color: #e0e0e0;
}

.favorite-item img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.delete-button {
  margin-left: 10px;
  color: red;
}
