.topnav {
  background-color: rgba(128, 128, 128, 0.2);
  overflow: hidden;
  border-radius: 60px;
  height: 10vh;
  width: 100vh;
  text-align: center;
  margin: 20px auto auto auto;
}

.topnav a {
  color: lightblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  list-style: none;
  display: inline-block;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

body {
  background-color: black;
}

h1 {
  background-image: linear-gradient(to bottom, #247ba0, #ff008c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 86px;
  text-align: center;
}

p {
  color: pink;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 20px;
}

input {
  padding-left: 0.5em;
  margin: 140px auto 0 auto;
  display: block;
  width: 80vw;
  height: 10vh;
  border: 0;
  text-align: center;
  outline: 0;
  color: aliceblue;
  background-color: #25252a;
  font-size: 5vh;
}
